/*--------------------------------Global Properties---------------------------  */
*{
  box-sizing:border-box;
  /* -mox-box-sizing:border-box; */
}
*, *:before,
 *:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  overflow-x:hidden;
}
html{
  height: 100%;
	font-size: 100%;
}
h1 {
  font-size: 100px;  
  margin: 20px 0;
  color: #505050;
}
#nav-wrap {
  background: white;
  width: 100%;
  height: 65px;
  overflow: hidden;
  z-index: 100;
  opacity: .8;
  padding-bottom:4.5rem;
}
nav { 
  position:fixed;
  top:0;
  width: 100%;
  margin: 0 auto;
  transition: .5s;
}
nav ul li {
  color:black;
  display:inline;
  list-style:none;
  text-align:center;
}
nav a {
  display: inline-block;
  font-size: 21px;
  text-decoration: none;
  color: #505050;
  width: 20%;
  justify-content:space-evenly;
  text-align: center;
  line-height: 65px;
  text-transform: uppercase;
}
nav a:hover {
  border-top: 5px solid #4a4a4a;
  transition: .4s;
}
.logo {
  float:left;
  z-index: 100;
  transition: 1s;
  line-height: 80px;
}
.logo > img{
  left: -150px;
  font-size: 25px;
  height: 65px;
  line-height: 65px;
  padding: 0 10px;
  margin: 0;
  cursor: pointer;
  position:sticky;
}
footer{
  margin-top:5rem;
	background: #1a1a1a;
	padding: 1em;
	color: white;
	min-height: 10em;
	text-align: center;
  padding-bottom:500px;
}
footer p{
  margin-top:2rem;
  text-align:left;
  float:left;
  bottom:0;
}
footer a{
  color:white;
}





/*-----------------------------media queries ----------------------------*/

@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0;
  }
  }



  









/*--------------------------------Index/Home Properties---------------------------  */
.header-p{
  padding-bottom:40rem;
  padding-top:40rem;
  margin-right:2rem;
  margin-left:2rem;
}
.main-title{
  padding-top:25rem;
  margin-bottom:10rem;
  font-size:large;
  background-color:rgb(217, 236, 247);
}
.main-title h1{
  text-align:center;
  font-size:3rem;
  padding-bottom:40rem;
  color:black;
}
.head-images{
  content: "";
  clear: both;
  display: table;
  justify-content:center;
  margin-left:auto;
  margin-right:auto;
  background-color:rgb(198, 206, 209);
  border-radius:20px;
}
.head-col{
  float: left;
  overflow-y:hidden;
  padding: 5px;
}
.head-col > img{
  width: 480px;
  height:480px;
  border-radius:20px;
}
.head-third{
  margin-top:1rem;
  padding:1rem;
  width:710px;
  height:510px;
  display: table;
  justify-content:center;
  margin-left:auto;
  margin-right:auto;
  background-color:rgb(198, 206, 209);
  border-radius:20px;
}
.head-third > img{
  border-radius:20px;
  width:700px;
  height:500px;
}
.home-one > img{
  max-width: 200%;
  height: 350px;
}
.home-one{
  display: grid;
  grid-template-columns: 480px 1fr;
  gap: 1rem;
  align-items: center;
  max-width: 800px;
  margin:auto;
  margin-bottom:10rem;
}
.para {
  margin-top:1rem;
  width: 100%;
  height: 350px;
  background-color:rgb(232, 241, 245);
  margin-bottom: 20px;
}
.para h2{
  margin-top:2rem;
  margin-bottom:.5rem;
  margin-left:50px;
}
.para p {
  margin-right:200px;
  margin-left:50px;
}
.grid-title{
  text-align:center;
  padding-top:10rem;
  font-size:4rem;
}
.grid-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.grid-item {
  height: 620px;
  flex-basis: 20%;
  width: 280px;
  position: relative;
  padding: 8px;
  box-sizing: border-box;
}
.grid-row a {
  text-decoration: none;
}
.grid-item-wrapper {
  -webkit-box-sizing: initial;
  -moz-box-sizing: initial;
  box-sizing: initial;
  border-radius:2px;
  background: #ececec;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  -webkit-transition: padding 0.15s cubic-bezier(0.4,0,0.2,1), margin 0.15s cubic-bezier(0.4,0,0.2,1), box-shadow 0.15s cubic-bezier(0.4,0,0.2,1);
  transition: padding 0.15s cubic-bezier(0.4,0,0.2,1), margin 0.15s cubic-bezier(0.4,0,0.2,1), box-shadow 0.15s cubic-bezier(0.4,0,0.2,1);
  position: relative;
}

.grid-item-container {
  height: 100%;
  width: 100%;
  position: relative;
}

.grid-image-top {
  height: 45%;
  width: 120%;
  background-size: cover;
  position: relative;
  background-position: 50% 50%;
  left: -10.5%;
  top: -4.5%;
}

.grid-image-top .centered {
  text-align: center;
  transform: translate(-50%, -50%);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 54.5%;
  left: 50%;
  width: 60%;
  height: 60%;
  background-position: center;
}

.grid-image-top.rex-ray {
  background: -webkit-gradient(linear,left top, left bottom,from(#007DB8),to(#00447C));
  background: -webkit-linear-gradient(#007DB8,#00447C);
  background: -o-linear-gradient(#007DB8,#00447C);
  background: linear-gradient(#007DB8,#00447C);
}


.grid-image-top.sputnik {
  background: -webkit-gradient(linear,left top, left bottom,from(#1AA9FB),to(#1785C4));
  background: -webkit-linear-gradient(#1AA9FB,#1785C4);
  background: -o-linear-gradient(#1AA9FB,#1785C4);
  background: linear-gradient(#1AA9FB,#1785C4);
}

.grid-image-top.edgex {
  background: -webkit-gradient(linear,left top, left bottom,from(#952f4c),to(#3e1a51));
  background: -webkit-linear-gradient(#952f4c,#3e1a51);
  background: -o-linear-gradient(#952f4c,#3e1a51);
  background: linear-gradient(#952f4c,#3e1a51);
}

.grid-image-top.openswitch {
  background: -webkit-gradient(linear,left top, left bottom,from(#2db89a),to(#00793d));
  background: -webkit-linear-gradient(#2db89a,#00793d);
  background: -o-linear-gradient(#2db89a,#00793d);
  background: linear-gradient(#2db89a,#00793d);
}

.grid-image-top.scaleio {
  background: -webkit-gradient(linear,left top, left bottom,from(#2e96dd),to(#326de6));
  background: -webkit-linear-gradient(#2e96dd,#326de6);
  background: -o-linear-gradient(#2e96dd,#326de6);
  background: linear-gradient(#2e96dd,#326de6);
}

.grid-image-top.csi {
  background: -webkit-gradient(linear,left top, left bottom,from(#464646),to(#000000));
  background: -webkit-linear-gradient(#464646,#000000);
  background: -o-linear-gradient(#464646,#000000);
  background: linear-gradient(#464646,#000000);
}


.grid-image-top.kubernetes {
  background: -webkit-gradient(linear,left top, left bottom,from(#09C1D1),to(#326DE6));
  background: -webkit-linear-gradient(#09C1D1,#326DE6);
  background: -o-linear-gradient(#09C1D1,#326DE6);
  background: linear-gradient(#09C1D1,#326DE6);
}

.grid-image-top.grpc {
  background: -webkit-gradient(linear,left top, left bottom,from(#0CC1C8),to(#2E838C));
  background: -webkit-linear-gradient(#0CC1C8,#2E838C);
  background: -o-linear-gradient(#0CC1C8,#2E838C);
  background: linear-gradient(#0CC1C8,#2E838C);
}


.grid-image-top.envoy {
  background: -webkit-gradient(linear,left top, left bottom,from(#290B54),to(#130229));
  background: -webkit-linear-gradient(#290B54,#130229);
  background: -o-linear-gradient(#290B54,#130229);
  background: linear-gradient(#290B54,#130229);
}

.grid-item-content {
  padding: 0 20px 20px 20px;
}

.item-title {
  font-size: 24px;
  line-height: 26px;
  font-weight: 700;
  margin-bottom: 18px;
  display: block;
}

.item-category {
  text-transform: uppercase;
  display: block;
  margin-bottom: 20px;
  font-size: 14px;
}

.item-excerpt {
  margin-bottom: 20px;
  display: block;
  font-size: 14px;
}

.more-info {
  position: absolute;
  bottom: 0;
  margin-bottom: 25px;
  padding-left: 0;
  transition-duration: .5s;
  font-size: 12px;
  display: flex;
}

.more-info i {
  padding-left: 5px;
  transition-duration: .5s;
}

.grid-item:hover .more-info i {
  padding-left: 20px;
  transition-duration: .5s;
}

.more-info i::before {
  font-size: 16px;
}

.grid-item:hover .grid-item-wrapper {
  padding: 2% 2%;
  margin: -2% -2%;
}

@media(max-width: 1333px) {
  .grid-item {
    flex-basis: 33.33%;
  }
}

@media(max-width: 1073px) {
   .grid-item {
    flex-basis: 33.33%;
  }
}

@media(max-width: 815px) {
  .grid-item {
    flex-basis: 50%;
  }
}

@media(max-width: 555px) {
  .grid-item {
    flex-basis: 100%;
  }
}






/*-------------------------------- About Properties---------------------------  */

.container-about p{
  font-size:1.2rem;
  margin-bottom:1rem;
}
.top-banner > img{
  width:140%;

}
.top-banner h1{
  font-size:3.6rem;
  padding: 0 1rem;
  position: absolute;
  color:black;
  top:5rem; 
  right:2rem;
}
.p-text{
padding-top:14rem;
margin:2.5rem;
margin-bottom:14rem;
}
.p-text h2{
  font-size:2rem;
  margin-bottom:1rem;
}
.footer-img > img{
  margin-top:2rem;
  width:90%;
  height:90%;
  border: 10px solid white;
 border-radius:25px;
}
footer h4{
  margin-top:1rem;
  font-size:3rem;
}











/*--------------------------------Faq Properties---------------------------  */

.faq-box{
	margin-right:200px;
	margin-left:200px;
  margin-bottom:60px;
}
.faq-section {
    background: #ffffff;
    min-height: 100vh;
    padding: 10vh 0 0;
}
.faq-title h2 {
  position: relative;
  text-align:center;
  margin-bottom: 45px;
  font-weight: 600;
  line-height: 1;
}
.faq {
  background: #FFFFFF;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
  border-radius: 4px;
}
.faq-title h2::before {
  content: "";
  position: absolute;
  left: 50%;
  width: 60px;
  height: 2px;
  background: #3B566E;
  bottom: -25px;
  margin-left: -30px;
}

.faq .card {
  border: none;
  background: none;
  border-bottom: 1px dashed #CEE1F8;
}

.faq .card .card-header {
  padding: 0px;
  border: none;
  background: none;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.faq .card .card-header:hover {
    background: rgba(84, 168, 233, 0.1);
    padding-left: 10px;
}
.faq .card .card-header .faq-title {
  width: 100%;
  text-align: left;
  padding: 0px;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 1px;
  color: #3B566E;
  text-decoration: none !important;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  padding-top: 20px;
  padding-bottom: 20px;
}

.faq .card .card-header .faq-title .badge {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 14px;
  
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  text-align: center;
  background: rgb(86, 178, 203);
  color: #fff;
  font-size: 12px;
  margin-right: 20px;
}

.faq .card .card-body {
  padding: 30px;
  padding-left: 35px;
  padding-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  color: #6F8BA4;
  line-height: 28px;
  letter-spacing: 1px;
  border-top: 1px solid #F3F8FF;
}

.faq .card .card-body p {
  margin-bottom: 14px;
}

