/* this is a comment */
html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

/* Global Styles */

body {
    font-family: 'Alkalami', serif;
}

header.primary{
    /* space befor (.) will target inside of header, not whole*/
    background-color:red;
}
