html {
    box-sizing:border-box;

}
*,
*:before,
*:after {
    box-sizing:inherit;
}


/*-------------------- Global Styles ------------------------*/

body {
    font-family: 'Alkalami', serif;
}

/*----------------------Media Queries---------------------- */ 

@media screen and (max-width:650px){

    h1{
    flex-direction:column;
    }
    header.primary nav a{
        display:block;
        max-width:20%;
    }
    
    header.primary nav li{
        margin-bottom: 10px;
    }
    
    }