 html {
    box-sizing:border-box;

}
*,
*:before,
*:after {
    box-sizing:inherit;
}


/*----------------------------Utility classes --------------------------------*/

.container{
    max-width:960px;
    width:80vw;
    margin:40px auto;
}

/*----------------------------- Global Styles --------------------------------*/

body {
    font-family: 'Alkalami', serif;
}

header.primary h1{
    display:block;
    text-align:center;
    }

/*-------------------------------Media Queries------------------------------- */ 

@media screen and (max-width:700px){

  

    header.prototype nav a{
        width:100%;
        margin-left: 0;
        margin-right: 0;
        height:40px;
    }
    
    header.prototype nav li{
        margin-bottom: 10px;
    }

    header.cssdemo nav a{
        width:100%;
        margin-left: 0;
        margin-right: 0;
        height:40px;
    }
    
    header.cssdemo nav li{
        margin-bottom: 10px;
    }

    header.cssdiner nav a{
        width:100%;
        margin-left: 0;
        margin-right: 0;
        height:40px;
    }
    
    header.cssdiner nav li{
        margin-bottom: 10px;
    }
    




    }