/* css for segway-centaur*/




/*----------------------------index-------------------------- */

/* formatting */
*, *:before,
 *:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	height: 100%;
	font-size: 100%;
}
body {
	height: 100%;
	font: 1em/1.5 Georgia, serif;
	color: black;
}
h1 {
	font: 2.25em/1 Helvetica, sans-serif;
	margin-bottom: .667em;
  text-align:center;
}
h2 {
	font: 1.5em/1 Helvetica, sans-serif;
	text-transform: uppercase;
	margin-bottom: .667em;
}
p {
	margin-bottom: 1em;
}

.main-title{
  padding-top:20rem;
  padding-bottom:10rem;
  font-size:large;
  background-color:rgb(162, 191, 207);
}

.main-title h1{
  font-size:8rem;
}

.main-title h3{
  padding-top:28rem;
  font-size:2rem;
}

.main-title p{
  font-size:1rem;
  padding-top:10px;
  margin-right:20%;
}

.first-p{
  margin-left:2rem;
}

.columns {
	display: flex;
  top:0;
	flex-flow: row wrap;
	justify-content: center;
	margin: auto;
}

.column {
	flex: 1;
  padding-bottom: 2rem;
}

.column > img{
  padding-top:2rem;
  width:60%;
  height:60%;
  margin:auto;
 
}

.develop > img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
}

.develop{
  text-align:left;
  padding-top:4rem;
  padding-bottom:5rem;
  background-color:rgb(208, 235, 242);
}

.develop h1{
  padding-top:2rem;
  text-align:left;
  font-size:2rem;
  margin:1rem;
}

.develop p{
  margin:1rem;
}

.part-one{
  padding-bottom:10rem;
}

.sect-two{
  padding-top:10rem;
}

.mid-paragraph{
  font-size:2rem;
  margin-right:30px;
  margin-left:30px;
  text-align:center
}

footer{
  margin-top:5rem;
	background: #1a1a1a;
	padding: 1em;
	color: white;
	min-height: 10em;
	text-align: center;
  padding-bottom:400px;
}

.start{
  padding-bottom:8rem;
}

.last-sect{
  padding-bottom:3rem;
}

header {
  position: fixed;
  width: 100%;
  padding-top: 10px;
  background-color:white;
  transition: 0.7s all;
  z-index: 100;
}

.a-img{
  float:left;
  width:50%;
  border-radius:5px;
}

.b-img{
  float:right;
  top:0;
  width:50%;
  border-radius:5px;
}

.flex-grow p{
  text-align:center;
  padding-top:40px;
  margin:40px;
  border-style:2px bold red;
}

.first-img{
  display:block;
  margin:auto;
 max-width:800px;
 max-height:800px;
 border-radius:8px;
 margin-bottom:20px;
 margin-left:3rem;
 float:left;
}

.p-two{
  display:block;
}
      
.title-centaur{
  padding-top:120px;
}

.content{
    margin-bottom:40px;
}

.center-block{
  padding-top:1rem;
  margin:auto;
  width:90%;
}

body.header-fixed header {
  position: fixed;
  top: 0;
  right: 0;
  padding-top: 0;
  width: 100%;
  z-index: 2;
}

li {
  list-style: none;
}

nav {
  overflow: hidden;
}

nav ul {
  float: right;
}
nav li {
  display: inline;
  float: left;
}
nav a {
  display: inline-block;
  color: black;
  text-decoration: none;
  padding: 25px;
  transition: 0.3s all;
}
nav a:hover {
  background: rgba(137, 211, 243, .2);
}
.logo {
  float: left;
  margin-bottom:10px;
  padding-bottom:10px;
  width:90px;
  height:90px;
  transition: 0.7s all;
}

body.header-fixed .logo {
  font-size: 30px;
}

 
.box {
  float: left;
  padding-top:1rem;
  padding-right:1rem;
  padding-left:1rem;
  width: 40%;
  height: 400px;
  margin-bottom:40rem;
}
.box p {
  margin-top: 2em;
  height: 6em;
}
.hide {display: none;}
@media only screen and (min-width: 800px) {
  img {
    margin:10px;
    height: 100%;
    display: block;
    object-fit: cover;
  }
}













/*----------------------------about-------------------------- */



.about-segway{
	display: block;
	width: 75%;
	max-width: 60em;
	margin: auto;
  padding-top:100px;
	position: relative;
}
.about-segway h1 {
	text-align:center;
	margin-top:10px;
}
.segway-one > img{
	height:315px;
	width:315px;
	float:left;
	margin-right:25px;
  margin-bottom:2rem;
	border-radius:.2rem;
}
.waters  > img{
  margin-top:4px;
  height:50rem;
  margin:auto;
  border: 10px solid white;
 border-radius:25px;
}

.waters p {
  text-align:center;
  margin-bottom:5px;
  font-size:6rem;
  color:white;
  
}


/*----------------------------faq page-------------------------- */

.faq-box{
	margin-right:200px;
	margin-left:200px;
  margin-bottom:60px;
}

.faq-section {
    background: #ffffff;
    min-height: 100vh;
    padding: 10vh 0 0;
}
.faq-title h2 {
  position: relative;
  text-align:center;
  margin-bottom: 45px;
  margin-top:60px;
  font-weight: 600;
  line-height: 1;
}

.faq {
  background: #FFFFFF;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
  border-radius: 4px;
}

.faq-title h2::before {
  content: "";
  position: absolute;
  left: 50%;
  width: 60px;
  height: 2px;
  background: #3B566E;
  bottom: -25px;
  margin-left: -30px;
}

.faq .card {
  border: none;
  background: none;
  border-bottom: 1px dashed #CEE1F8;
}

.faq .card .card-header {
  padding: 0px;
  border: none;
  background: none;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.faq .card .card-header:hover {
    background: rgba(84, 168, 233, 0.1);
    padding-left: 10px;
}
.faq .card .card-header .faq-title {
  width: 100%;
  text-align: left;
  padding: 0px;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 1px;
  color: #3B566E;
  text-decoration: none !important;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  padding-top: 20px;
  padding-bottom: 20px;
}

.faq .card .card-header .faq-title .badge {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 14px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  text-align: center;
  background: rgb(86, 178, 203);
  color: #fff;
  font-size: 12px;
  margin-right: 20px;
}

.faq .card .card-body {
  padding: 30px;
  padding-left: 35px;
  padding-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  color: #6F8BA4;
  line-height: 28px;
  letter-spacing: 1px;
  border-top: 1px solid #F3F8FF;
}

.faq .card .card-body p {
  margin-bottom: 14px;
}
