/* css for segway-centaur*/




/*----------------------------index-------------------------- */

/* formatting */
*, *:before,
 *:after {
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
html {
	height: 100%;
	font-size: 100%;
}
body {
	height: 100%;
	font: 1em/1.5 Georgia, serif;
	background-color: white;
	color: black;
}
h1 {
	font: 2.25em/1 Helvetica, sans-serif;
	margin-bottom: .667em;
}
h2 {
	font: 1.5em/1 Helvetica, sans-serif;
	text-transform: uppercase;
	margin-bottom: .667em;
}
p {
	margin-bottom: 1em;
}
header, footer {
	background: #1a1a1a;
	padding: 1em;
	color: #fff;
	min-height: 10em;
	text-align: center;
}


.sidebar{
	display:block;
	position:fixed;
	top: 0;
	bottom:0;
	left:0;
	width: 120px;
	padding: 10px;
	background: rgba(0, 0, 0, 0.9);
	z-index:0;
  }
  .sidebar ul a{
	cursor:pointer;
	list-style:none;
	color:rgba(255, 255, 255, 0.7);
	text-decoration:none;
	list-style:none;
	

  }


footer {
	height: 100%;
}
.main {
	padding: 1.5em 3em 1.5em 1.5em;
}


.hide {display: none;}
@media only screen and (min-width: 800px) {

.wrap {
	display: grid;

	grid-template-columns: repeat(auto-fill,minmax(calc(8rem + 5vw + 5vh),1fr));
	grid-gap: 2.5vmin;
	padding: 2.5vmin;
}	
#dense:checked + .wrap {
 grid-auto-flow: dense;
}
figure:first-child {
    grid-row-start: span 3;
    grid-column-start: span 3;	
}
figure:nth-child(2n+3) {
    grid-row-start: span 3;
}
figure:nth-child(4n+5) {
    grid-column-start: span 2;
		grid-row-start: span 2;
}
figure:nth-child(6n+7) {
    grid-row-start: span 2;
}
figure:nth-child(8n+9) {
    grid-column-start: span 2;
    grid-row-start: span 3;
}
img {
	width: 100%;
	height: 100%;
	display: block;
	object-fit: cover;
	box-shadow: 0 0 3px #496b7b;
	border-radius: 5px;
}

}
	
.home-text {
margin:auto;
}

figure,
img {
	transition: .4s;
}


#dense:checked ~ label span:after {
	content: ' dense';
}

@media (min-width:43.75em) {

	/* responsive layout */
	.candy-wrapper {
		max-width: 60em;
		margin: 0 auto;
		position: relative;
	}
	.main {
		display: inline-block;
		width: 75%;
		vertical-align: top;
	}
	

	.fixedsticky {
		top: 0;
	}
}











/*----------------------------about-------------------------- */



.about-segway{
	
	display: inline-block;
	width: 75%;
	vertical-align: top;
	max-width: 60em;
	margin: auto;
	margin-right:10px;
	margin-left:60px;
	position: relative;
	
}

.about-segway h1 {
	text-align:center;
	margin-top:20px;
}


.segway-one > img {
	height:300px;
	width:300px;
	float:left;
	margin-right:25px;
	border-radius:.2rem;
}












/*----------------------------faq page-------------------------- */

.col-md-6{
	margin-right:200px;
	margin-left:200px;
}

.faq-section {
    background: #ffffff;
    min-height: 100vh;
    padding: 10vh 0 0;
}
.faq-title h2 {
  position: relative;
  text-align:center;
  margin-bottom: 45px;
  /*display: inline-block; */
  font-weight: 600;
  line-height: 1;
}
.faq-title h2::before {
    content: "";
    position: absolute;
    left: 50%;
    width: 60px;
    height: 2px;
    background: #3B566E;
	
    bottom: -25px;
    margin-left: -30px;
}
.faq-title p {
  padding: 0 190px;
  margin-bottom: 10px;
}

.faq {
  background: #FFFFFF;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
  border-radius: 4px;
}


.faq .card {
  border: none;
  background: none;
  border-bottom: 1px dashed #CEE1F8;
}

.faq .card .card-header {
  padding: 0px;
  border: none;
  background: none;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.faq .card .card-header:hover {
    background: rgba(84, 168, 233, 0.1);
    padding-left: 10px;
}
.faq .card .card-header .faq-title {
  width: 100%;
  text-align: left;
  padding: 0px;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 1px;
  color: #3B566E;
  text-decoration: none !important;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  padding-top: 20px;
  padding-bottom: 20px;
}

.faq .card .card-header .faq-title .badge {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 14px;
  float: left;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  text-align: center;
  background: rgb(86, 178, 203);
  color: #fff;
  font-size: 12px;
  margin-right: 20px;
}

.faq .card .card-body {
  padding: 30px;
  padding-left: 35px;
  padding-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  color: #6F8BA4;
  line-height: 28px;
  letter-spacing: 1px;
  border-top: 1px solid #F3F8FF;
}

.faq .card .card-body p {
  margin-bottom: 14px;
}

@media (max-width: 991px) {
  .faq {
    margin-bottom: 30px;
  }
  .faq .card .card-header .faq-title {
    line-height: 26px;
    margin-top: 10px;
  }
}